:root {
    --Black: #4e4e4d;
    --Primary: #68d18e;
    --Accent: #fffd61;
    --Info: #454fe7;
    --OffWhite: #f9f8f6;

    --FullBorder: 4px;
    --HalfBorder: calc(var(--FullBorder) / 2);
    --DoubleBorder: calc(var(--FullBorder) * 2);

    --CardWidth: 90vw;
}

@font-face {
    font-family: "Avenir-Roman";
    src: url("../../fonts/Avenir-Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--DoubleBorder);
}

#cardModal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "Image Name"
        "Image Room";

    border: var(--DoubleBorder) solid var(--Black);
    background-color: var(--OffWhite);
    /*    border-radius: 10px;*/

    width: var(--CardWidth);
    aspect-ratio: 3;

    font-family: "Avenir-Roman", sans-serif;
    color: var(--Black);

    transition: all 0.5s;
}

.fullSize#cardModal {
    margin: var(--DoubleBorder);
    width: unset;
}

#cardModal img {
    grid-area: Image;
    aspect-ratio: 1;
    width: calc(100% - 20px);

    object-fit: cover;
    border-radius: 50%;
    border: var(--DoubleBorder) solid var(--Primary);

    box-sizing: border-box;
    margin: 10px;
    filter: brightness(159.3%) grayscale(22.4%) contrast(110%);
    /*with this filter applied to the background this is the closest color I found now that matches our primary.*/
    border-color: #3c8251;
}

#cardModal h1 {
    grid-area: Name;
    margin: 0;

    align-self: center;

    font-weight: normal;
    font-size: calc(var(--CardWidth) / 20);
    align-self: end;

    text-decoration: underline 1px solid var(--Black);

    /*    border-bottom: 4px solid;*/
}
#cardModal h2 {
    grid-area: Room;
    margin: 0;
    align-self: baseline;

    font-size: calc(var(--CardWidth) / 10);
    font-weight: normal;
}