:root {
    --Black: #4E4E4D;
    --Primary: #68D18E;
    --Accent: #FFFD61;
    --Info: #454FE7;
    --OffWhite: #F9F8F6;

    --FullBorder: 4px;
    --HalfBorder: calc(var(--FullBorder) / 2);
    --DoubleBorder: calc(var(--FullBorder) * 2);

    --CardWidth: 90vw;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../../fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--DoubleBorder);
}

#cardModal{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "Image Name"
        "Image Room"; 

    border: var(--DoubleBorder) solid var(--Black);
    background-color: var(--OffWhite);
/*    border-radius: 10px;*/

    width: var(--CardWidth);
    aspect-ratio: 3;

    font-family: "Avenir-Roman", sans-serif;
    color: var(--Black);
}

#cardModal img{
    grid-area: Image;
    aspect-ratio: 1;
    width: calc(100% - 20px);

    object-fit: cover;
    border-radius: 50%;
    border: var(--DoubleBorder) solid var(--Primary);

    box-sizing: border-box;
    margin: 10px;

}

#cardModal h1{
    grid-area: Name;
    margin: 0;

    align-self: center;

    font-weight: normal;
    font-size: calc(var(--CardWidth) / 20);
    align-self: end;

    text-decoration: underline 1px solid var(--Black);

/*    border-bottom: 4px solid;*/
}
#cardModal h2{
    grid-area: Room;
    margin: 0;
    align-self: baseline;

    font-size: calc(var(--CardWidth) / 10);
    font-weight: normal;
}