:root {
    --Black: #4E4E4D;
    --Primary: #68D18E;
    --Accent: #FFFD61;
    --Info: #454FE7;
    --OffWhite: #F9F8F6;

    --FullBorder: 4px;
    --HalfBorder: calc(var(--FullBorder) / 2);
    --DoubleBorder: calc(var(--FullBorder) * 2);

    --CardWidth: 90vw;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../../fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#weekNoSelector{
	display: flex;
	flex-direction: row;
	font-family: "Avenir-Roman", sans-serif;
	font-size: vw;
	width: var(--CardWidth);
	justify-content: space-between;
	font-size: calc(var(--CardWidth) / 15);
	border-left: var(--DoubleBorder) solid var(--Black);
	border-right: var(--DoubleBorder) solid var(--Black);
}

#weekNoSelector button{
	background: none;
	text-decoration: none;
	border: none;
	border: solid var(--FullBorder) var(--Black);
	cursor: pointer;
	aspect-ratio: 1;
	transition: all .3s;
}

#weekNoSelector button:hover{
	background-color: var(--Primary);
}

#weekNoSelector .prevWeekBtn{
	border-left: 0;
}

#weekNoSelector .nextWeekBtn{
	border-right: 0;
}