:root {
	--Black: #4e4e4d;
	--Primary: #68d18e;
	--Accent: #fffd61;
	--Info: #454fe7;
	--OffWhite: #f9f8f6;

	--FullBorder: 4px;
	--HalfBorder: calc(var(--FullBorder) / 2);
	--DoubleBorder: calc(var(--FullBorder) * 2);

	--CardWidth: 90vw;
}

@font-face {
	font-family: "Avenir-Roman";
	src: url("../../fonts/Avenir-Roman.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

#weekNoSelector {
	display: flex;
	flex-direction: row;
	font-family: "Avenir-Roman", sans-serif;
	font-size: vw;
	width: var(--CardWidth);
	justify-content: space-between;
	font-size: calc(var(--CardWidth) / 15);
	border-left: var(--DoubleBorder) solid var(--Black);
	border-right: var(--DoubleBorder) solid var(--Black);
}

.fullSize#weekNoSelector {
	margin: var(--DoubleBorder);
	width: unset;
}

#weekNoSelector div {
	color: var(--Black);
	/*	background-color: var(--Info);*/
}

#weekNoSelector button {
	background-color: var(--OffWhite);
	text-decoration: none;
	border: none;
	border: solid var(--FullBorder) var(--Black);
	cursor: pointer;
	aspect-ratio: 1;
	transition: all 0.3s;

	font-family: "Avenir-Roman", sans-serif;
	font-size: calc(var(--CardWidth) / 15);

	line-height: 1em;
	font-weight: bold;
	color: var(--Black);
}

#weekNoSelector button:hover {
	background-color: var(--Primary);
	color: white;

	/*	border-color: white;*/
}

#weekNoSelector .prevWeekBtn {
	border-left: 0;
}

#weekNoSelector .nextWeekBtn {
	border-right: 0;
}