mixin personsGrid(count=6)
	style
		include ../../css/personsGrid.css
	script(src='../../js/pLookUp.js')
	#personsGrid
		- for (var hexID in persLookup)
			- const person = persLookup[hexID]
			.personBubble(name=person.fullName hexID=hexID)
				img(src="../../img/perso/"+hexID+".jpg")