mixin roomImage(roomNo=1456)
    style
        include ../../css/roomImage.css
    #roomImage
        img(src='../../img/room1523.jpeg')
        div.roomFeaturesBox
            h1= "Room " + roomNo
            p Kaffeekoeffizient: 5
            p Nordausrichtung
            p Whiteboard
            p Big Screen
            p Couch
            p Rothko