- var time_instances = [];
- var counter = 0;
- var ids = [0, 40, 80, 120, 160];
- var finids = ["000", "000", "000", "000", "000"];
- var start_time = new Date();
- start_time.setHours(8);
- start_time.setMinutes(0);


mixin weekTable(smol=true)
  style
      include ../../css/weekTable.css
  table(class={ smol: smol === true })#weekTable
    thead
      tr
        th
        th Mon
        th Tue
        th Wed
        th Thu
        th Fri
    tbody
      - for (var i = 0; i < 40; i++)
        - time_instances.push(start_time.toLocaleTimeString('de-DE', {hour: '2-digit', minute: '2-digit'}))
        tr
          td= time_instances[i]
          each id in ids
            - finids[ids.indexOf(id)] = String(id + counter).padStart(3, '0')
            td(id="dr" + finids[ids.indexOf(id)]) Data
        - counter++;
        - start_time.setMinutes(start_time.getMinutes() + 15)