mixin weekNoSelector(weekNo=42, fullSize=true)
	style
		include ../../css/weekNoSelector.css
	div(class={ fullSize: fullSize === true })#weekNoSelector
		button.prevWeekBtn(onclick="weekSwitcher(false)") <
		div= "Week " + weekNo
		button.nextWeekBtn(onclick="weekSwitcher(true)") >
	script(src='../../js/weekSwitcher.js')

mixin searchBar(fullSize=true)
	style
		include ../../css/searchBar.css
	input(class={ fullSize: fullSize === true })#searchBar(type="text")