doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title Login Page
body
  main
    include components/cardModal
    include components/weekNoSelector
    include components/roomImage
    include components/weekTable
    include components/personsGrid
    +cardModal("Dr. Anne-Sophie Landwers",1456,false)
    +cardModal("Bob Ros","Home Office",true)
    +weekNoSelector(33,true)
    +cardModal("Iris Schult","Urlaub",false)
    +weekNoSelector(17,false)
    +searchBar()
    +roomImage()
    +weekTable(false)
    +weekTable(true)
    +personsGrid(10)
    