doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Room 1551
		link(rel="stylesheet" href="../../css/style.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body(onload="document.querySelector('.roomFeaturesBox h1').innerText = window.location.search.substring(1).split('&')[0].split('=')[1].replace('_',' ')")
		include components/weekTable.pug
		include components/roomImage
		include components/weekNoSelector

		+roomImage(1551)
		+weekNoSelector(44)
		+weekTable(true)
