doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../../css/style.css')
  link(rel='stylesheet' href='../../css/inputs.css')
  title Home
body
  main
    include components/cardModal
    include components/weekNoSelector
    include components/roomImage
    include components/weekTable
    include components/personsGrid
    +cardModal("Dr. Anne-Sophie Landwers",1456,true)

    +roomImage()
    +searchBar()

    +weekNoSelector( 33 , true)
    +weekTable(true)
    +personsGrid(10)
    .floorPlan
      include ../img/editproba/RaumplanE15_rugs4.svg
  script(src='../../js/singlePage.js')
  script(src='../../js/personSearch.js')
  script(src='../../js/floorPlan.js')
  script(src='../../js/utils.js')
  //- I know its bad practice to use json like this but time is short
  script(src='../../js/pLookUp.js')